{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Sigmar+One" rel="stylesheet" />
    <title>Студент студенту</title>
    <link rel="icon" type="image/png" href="http://icons.iconarchive.com/icons/grafikartes/adobe-cc/32/CC-icon.png" />
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</head>

<body>

    <div class="start" id="startPage">
        <div class="buttons">
            <div class="signIn">
                <input style="border: 2px solid white" type="button" class="btn btn-secondary" value="Войти" onclick="" />
            </div>
            <div class="signUp">
                <input style="border: 2px solid white" type="button" class="btn btn-primary" value="Регистрация" onclick="" />
            </div>

            <div class="toInstruction">
                <input style="border: 2px solid white" type="button" class="btn btn-info" value="Как это работает" onclick="View.setPage(Page.Instruction);" />
            </div>
        </div>
    </div>

    <div class="instruction" id="instructionPage">
        Подробная инструкция...
        <div class="back">
            <input style="border: 2px solid white" type="button" class="btn btn-light" value="⬅" onclick="View.setPage(Page.Start);" />
        </div>
        <div class="soon">
            <input style="border: 2px solid white" type="button" class="btn btn-light" value="➡" onclick="View.setPage(Page.Site);" />
        </div>
    </div>

    <div class="site" id="sitePage">
        <div class="navbar">
            <div class="logo">
                <img class="logo" src="{% static 'images/logo.png' %}" alt="">
            </div>
            <div class="radiobuttons">
                <label class="radio"><input type="radio" name="optradio" /> Помочь</label>
                <label class="radio"><input type="radio" name="optradio"/> Нужна помощь</label>
                <label class="radio"><input type="radio" name="optradio"/> Все объявления</label>
            </div>
            <div class="search">

                <form class="form-inline" action="" method="get">
                    <input class="form-control" name="s" placeholder="Введите название предмета..." type="search">
                    <!--                    Короче на кнопку поиска надо поставить заглушку, которая не посылает get-запрос, а показывает карточки -->
                    <button class="btn btn-primary btn-lg" type="submit">Поиск</button>
                </form>
            </div>
            <div class="profile">
                <img class="logo" src="https://psv4.userapi.com/c834601/u63135510/docs/d12/a09aeec3c64b/landau.png" alt=""></div>
        </div>

        <div class="main">
            <div class="desk allAds">Все объявления</div>
            <div class="desk myAds">Мои объявления</div>
        </div>
    </div>

    <script type="text/javascript">
        var Page = {
            Start: 0,
            Instruction: 1,
            Site: 2
        }

        var View = {
            startPage: document.getElementById("startPage"),
            instructionPage: document.getElementById("instructionPage"),
            sitePage: document.getElementById("sitePage"),

            setPage: function(page) {
                this.startPage.style.display = page == Page.Start ? "" : "none";
                this.instructionPage.style.display = page == Page.Instruction ? "" : "none";
                this.sitePage.style.display = page == Page.Site ? "" : "none";
            }
        }
        View.setPage(Page.Start);

    </script>
</body>

</html>
